@charset: "utf-8";
a:link {
	text-decoration:none;
	color:#CCCCCC;
	}

a:visited	{
	text-decoration:none;
	color:#CCCCCC;
	}

a:hover	{
	text-decoration:none;
	color:white;
	}

a:active	{
	text-decoration:none;
	color:#CCCCCC;
	}

li {
	text-decoration: none;
	display: inline;
	padding: 0 9px;
	font-family: arial,sans-serif;
	font-weight: bold;
	text-decoration: none;
}

img {
	display: block;
	margin: 0 auto;
	padding: 100px;
}
.resize {
	width:400px;
	height:150px;
}
