@charset: "utf-8";
body {
	font-family: arial,sans-serif;
}




#navb {
	height: 30px;
	background-color: #222222;
	position: absolute;
	top: 0;
	display: block;
	margin: auto;
	width:100%;
	font-size: 13px;
	font-weight: bold;


}
a:link {
	text-decoration:none;
	color:#CCCCCC;
	}

a:visited	{
	text-decoration:none;
	color:#CCCCCC;
	}

a:hover	{
	text-decoration:none;
	color:#FFFFFF;
	}

a:active	{
	text-decoration:none;
	color:#FFFFFF;
	}

li {
	
	text-decoration: none;
	display: inline;
	margin: 0 9px 0 0;
}

img {
	display: block;
	margin: 0 auto;
	padding: 100px;
}
.resize {
	width:400px;
	height:150px;
}
